.navbar-onelect {
    margin-bottom: 2%;
    background: linear-gradient(70deg, rgb(054, 102, 140), rgb(046, 062, 103), rgb(154, 102, 173));
}

.navbar-onelect a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.navbar-onelect a:hover {
    background-size: 100% 2px;
}

.navbar-onelect a[role="button"] {
    text-decoration: none;
    color: white;
    border: none;
    background-color: transparent;
}


.form-container {
    width: 40%;
    background: linear-gradient(70deg, rgb(054, 102, 140), rgb(046, 062, 103), rgb(154, 102, 173));
    padding: 8%;
    border-radius: 6px;
    clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
    color: white;
}

.form-container input[type='submit'] {
    clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
    background: rgb(118, 77, 133);
    color: white;
}

.form-container input[type='submit']:hover {
    background-color: rgb(68, 44, 77);
}

.form-container input {
    width: 100%;
}

.sign-up-form {
    width: 50%;
}