{% extends "base.template.html" %}

{% block content %}
      <div class="container-person">
        <div class="card-persone justify-content-start">
            {% if context.user %}
            <div class="ava">
                <img src="{{ context.user.avatar }}" class="img-thumbnail" alt="...">
            </div>
            <div class="information">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Name, Lastname: {{ context.user.name }} {{ context.user.lastname }} <br/>
                        Login: {{ context.user.login }}
                    </li>
                    <li class="list-group-item">
                        Phone Number: {{ context.user.phone_number }}
                    </li>
                    <li class="list-group-item">
                        About: {{ context.user.about }}
                    </li>
                    <li class="list-group-item">
                        Date create: {{ context.user.create_date }}
                    </li>
                    {% if current_user.id != context.user.id and not context.friend %}
                        <li class="list-group-item">
                            <form action="/add_friend/" method="POST">
                                <!-- скрытый параметр -->
                                <input type="hidden" name="index" value="{{context.user.id}}">
                                <input type="submit" class="btn btn-dark" value="Add Friend">
                            </form>
                        </li>
                    {% endif %}
                    {% if context.friend %}
                        <li class="list-group-item">
                            <form action="/delete_friend/" method="POST">
                                <!-- скрытый параметр -->
                                <input type="hidden" name="index" value="{{context.user.id}}">
                                <input type="submit" class="btn btn-dark" value="delete Friend">
                            </form>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% else %}
            <h1>Not found</h1>
        {% endif %}
      </div>
{% endblock %}