{% extends "base.template.html" %}

{% block content %}
<form class="form-container">
      {{ context.form.hidden_tag() }}
      <div class="mb-3">
        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
      </div>
      <div class="mb-3">{{ context.form.login(type="login", class="form-control", placeholder="Login") }}</div>
      <div class="mb-3">{{ context.form.phone_number(type="phone_number", class="form-control", placeholder="Phone Number") }}</div>
      <div class="mb-3">{{ context.form.roles(type="roles", class="form-control", placeholder="Roles") }}</div>

      <div class="mb-3">{{ context.form.password(type="password", class="password", class="form-control", placeholder="Password") }}</div>
      <div class="mb-3">{{ context.form.password_again(type="password", class="password_again", class="form-control", placeholder="Password again") }}</div>
      {{ context.form.submit(class="btn", type="submit") }}
</form>
{% endblock %}