{% extends "base.template.html" %}

{% block content %}
      <div class="container-person">
        <div class="card-persone">
            <h4>{{ context.title }}</h4>
                {% for user in context.users %}
                    <div class="row row-list">
                        <div class="image-card col-1">
                          <img src="{{user.avatar}}" widht='60' height="60" style="border-radius: 50%;"/>
                        </div>
                        <div class="body-card col-11">
                          <a href="/profile/{{user.id}}">{{ user.name }} {{ user.lastname }}</a>
                          <p class="font-weight-light">{{ user.login }}</p>
                        </div>
                    </div>
                {% endfor %}
            <nav style="width: 100%;" class="d-flex justify-content-center">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="/users?page={{context.page-1}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link">{{context.page}}</a></li>
                  <li class="page-item">
                    <a class="page-link" href="/users?page={{context.page+1}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div>
      </div>
{% endblock %}