{% extends "base.template.html" %}

{% block content %}
      <div class="container-person">
        <div class="card-persone justify-content-start">
            <h4>User:</h4>
            <ul class="list-group list-group-flush">
                {% for user in context.users %}
                    <li class="list-group-item">
                        <a href="/profile/{{user.id}}">{{ user.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <nav>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="/users?page={{context.page-1}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link">{{context.page}}</a></li>
                  <li class="page-item">
                    <a class="page-link" href="/users?page={{context.page+1}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
      </div>
{% endblock %}